PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/postwise_ai
JWT_SECRET=postwise_super_secret_jwt_key_2026_x987
GROQ_API=gsk_your_groq_api_key_here
PEXELS_API=your_pexels_api_key_here
PEXELS_API_KEY=your_pexels_api_key_here
LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
LINKEDIN_REDIRECT_URI=http://localhost:5000/api/linkedin/auth/callback
LINKEDIN_ACCESS_TOKEN=your_linkedin_access_token_here
